/* This is where styles are defined for your page. */
/* One style is provided as example. */

body {
  background-image: url('images/sand.jpg');
  line-height: 1.2em;
  margin: 20px;
}

header.page-header {
  background-color: #fff;
  padding: 15px;
  border: 5px solid black;
}

h1,h2 {
    color: green;
    font-family: Arial;
}

.more-info img {
  height: 250px;
  width: auto;
  display: block;
  margin: 15px;
}

.poem {
  list-style-type: none;
  background-color: #fff;
  padding: 20px;
}

.info-links {
  list-style-type: none;
}

.social-links {
  list-style-type: none;
}

.page-footer ul {
  list-style-type: none;
}